<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cotizador de Automóviles</title>
  <%-include('partials/header.ejs')%>
  <%-include('partials/nav.ejs')%>
  <style>
    /* Estilos generales */
    body {
      font-family: Arial, sans-serif;
    }

    /* Estilos para el formulario */
    form {
      max-width: 90%;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: black;
      margin-top: 20px;
    }

    /* Estilos para las etiquetas del formulario */
    label {
      display: block;
      margin-bottom: 10px;
    }

    /* Estilos para los campos de entrada del formulario */
    input[type="text"],
    input[type="number"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }

    /* Estilos para los botones del formulario */
    button {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-right: 10px;
    }

    /* Estilos para el botón de limpiar */
    button[type="reset"] {
      background-color: #f44336;
    }

    /* Estilos para el div de resultados */
    #resultado {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: black;
      margin-top: 20px;
      display: none;
    }

    /* Estilos para el contenido dentro del div de resultados */
    #resultado h2 {
      margin-top: 0;
    }

    #resultado p {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <h1>Cotizador de Automóviles</h1>
  <form id="cotizacionForm" action="/cotizacion" method="POST">
    <label for="descripcion">Descripción del Automóvil:</label>
    <input type="text" id="descripcion" name="descripcion" required>

    <label for="precio">Precio:</label>
    <input type="number" id="precio" name="precio" required>

    <label for="porcentajeInicial">Porcentaje de Pago Inicial (%):</label>
    <input type="number" id="porcentajeInicial" name="porcentajeInicial" required>

    <label for="plazo">Plazo (en meses):</label>
    <input type="number" id="plazo" name="plazo" required>

    <button type="submit">Calcular Cotización</button>
    <button type="reset">Limpiar</button> <!-- Botón de limpiar -->

  </form>

  <div id="resultado" style="display: none;">
    <!-- Aquí se mostrarán los resultados -->
  </div>

  <% try { %>
  <% if (descripcion && precio && porcentajeInicial && plazo) { %>
  <% if (porcentajeInicial >= 0 && precio >= 0 && plazo >= 0) { %>
  <% if (porcentajeInicial <= 1) { %>
  <h2>Detalles de la Cotización:</h2>
  <p><strong>Descripción:</strong> <%= descripcion %></p>
  <p><strong>Precio:</strong> $<%= precio.toFixed(2) %></p>
  <p><strong>Porcentaje de Pago Inicial (%):</strong> <%= (porcentajeInicial * 100) %>%</p>
  <p><strong>Plazo (en meses):</strong> <%= plazo %></p>
  <p><strong>Pago Inicial:</strong> $<%= pagoInicial.toFixed(2) %></p>
  <p><strong>Total a Financiar:</strong> $<%= totalFinanciar.toFixed(2) %></p>
  <p><strong>Pago Mensual:</strong> $<%= pagoMensual.toFixed(2) %></p>
  <% } else { %>
  <p>El porcentaje de pago inicial no puede ser mayor al 100%.</p>
  <% } %>
  <% } else { %>
  <p>Los valores ingresados no pueden ser negativos.</p>
  <% } %>
  <% } else { %>
  <p>Algunos datos necesarios para la cotización están faltando.</p>
  <% } %>
  <% } catch (error) { %>
  <p>Ocurrió un error al procesar la cotización. Por favor, inténtalo de nuevo más tarde.</p>
  <% } %>
  <%-include('partials/footer.ejs')  %>
</body>

</html>
