<!-- examen.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Examen</title>
</head>

<body>

    <style>
body {
    font-family: Arial, sans-serif;
    background-color: #00345a;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: #007bff;
}

form {
    background-color: #00345a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #012C5A;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #012C5A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="reset"] {
    background-color: #dc3545;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:focus,
button[type="reset"]:focus {
    outline: none;
}

.error-message {
    color: #dc3545;
    margin-top: 5px;
}

    </style>
  <%-include('partialsExam/headerExamen')  %>
  <%-include('partialsExam/navExamen')  %>
  <h2>Formulario de Examen</h2>
  <form action="/examen" method="POST">
    <label for="numDocente">Núm. Docente:</label>
    <input type="text" id="numDocente" name="numDocente" required><br><br>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br><br>

    <label for="domicilio">Domicilio:</label>
    <input type="text" id="domicilio" name="domicilio" required><br><br>

    <label for="nivel">Nivel:</label>
    <select id="nivel" name="nivel" required>
      <option value="1">Licenciatura o Ingeniería</option>
      <option value="2">Maestro en Ciencias</option>
      <option value="3">Doctor</option>
    </select><br><br>

    <label for="pagoBase">Pago base por hora impartida:</label>
    <input type="number" id="pagoBase" name="pagoBase" step="0.01" required><br><br>

    <label for="horasImpartidas">Horas impartidas:</label>
    <input type="number" id="horasImpartidas" name="horasImpartidas" required><br><br>

    <label for="numHijos">Cantidad de hijos:</label>
    <label for="numHijos">Cantidad de hijos:</label>
    <select id="numHijos" name="numHijos" required>
      <option value="0">No tengo hijos</option>
      <option value="1-2">1 - 2</option>
      <option value="3-5">3 - 5</option>
      <option value="más de 5">Más de 5</option>
    </select><br><br>


    <button type="submit">Consultar </button>
    <button type="reset"> Limpiar</button>
  </form>
  <%-include('partialsExam/footer')  %>
</body>

</html>