<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Pago de Servicio</title>
    
</head>
<body>
    <%-include("partials/headerPreExamen.ejs")  %>
    <%-include("partials/navPreExamen.ejs") %>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Poppins';
        }

        .main {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            place-items: center;
            width: max(300px, 80%);
            border: black;
            margin: 20px auto;
            padding: 30px;
        }

        .prices {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            height: 300px;
        }

        .main-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 10px;
        }

        .prices-group {
            margin-bottom: 10px;
        }
    </style>
    <% if (mensaje) { %>
        <p><%= mensaje %></p>
    <% } %>
    <section class="main">
        <div class="main-group">
            <p>Nombre:</p>
            <p><%= nombre %></p>
        </div>
        <div class="main-group">
            <p>Tipo de Servicio:</p>
            <p><%= tipoServicio %></p>
        </div>
        <div class="main-group">
            <p>Kilowatts Consumidos:</p>
            <p><%= kilowatts %></p>
        </div>
        <div class="main-group">
            <p>Costo por Kilowatt:</p>
            <p>$<%= costoPorKilowatt.toFixed(2) %></p>
        </div>
    </section>
    <section class="prices">
        <div class="prices-group">
            <p>Número de Recibo: <%= numeroRecibo %></p>
        </div>
        <div class="prices-group">
            <p>Domicilio: <%= domicilio %></p>
        </div>
        <div class="prices-group">
            <p>Subtotal: $<%= subtotal.toFixed(2) %></p>
        </div>
        <div class="prices-group">
            <p>Impuesto: $<%= impuesto.toFixed(2) %></p>
        </div>
        <div class="prices-group">
            <p>Descuento: $<%= descuento.toFixed(2) %></p>
        </div>
        <div class="prices-group">
            <p>Total a Pagar: $<%= total.toFixed(2) %></p>
        </div>
    </section>
    <%-include("partials/footer.ejs") %>
</body>
</html>
