<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=titulo%></title>
</head>

<body>
  <%-include('partials/header.ejs')  %>
  <%-include('partials/nav.ejs')  %>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto eligendi quam suscipit, eveniet veritatis perferendis id itaque unde, qui culpa aperiam doloribus, ipsum illum et fuga ullam praesentium enim iure?</p>
  <%-include('partials/footer.ejs')  %>

</body>

</html>