<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreExamen</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Incluir tu archivo CSS -->
</head>
<body>
    <%-include("partials/headerPreExamen.ejs")  %>
    <%-include("partials/navPreExamen.ejs") %>
    <div style="border-radius: 10px; padding: 20px; text-align: center;">
        <form action="/Pago" method="post">
            <label for="numeroRecibo">Número de Recibo:</label>
            <input type="text" name="numeroRecibo" id="numeroRecibo" required><br><br>
            
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" required><br><br>
            
            <label for="domicilio">Domicilio:</label>
            <input type="text" name="domicilio" id="domicilio" required><br><br>
            
            <label for="tipoServicio">Tipo de Servicio:</label>
            <select name="tipoServicio" id="tipoServicio">
                <option value="1">Domestico</option>
                <option value="2">Comercial</option>
                <option value="3">Industrial</option>
            </select><br><br>
            
            <label for="kilowatts">Kilowatts Consumidos:</label>
            <input type="number" name="kilowatts" id="kilowatts" required><br><br>
            
            <button type="submit" name="accion" value="enviar">Enviar Información</button>
            <button type="reset" name="accion" value="limpiar">Limpiar</button>
        </form>
    </div>
        
    <%-include("partials/footer.ejs") %>
</body>
</html>
