<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo de Pago</title>
</head>
<body>
    <style>
        /* Estilos para la sección de detalles de pago */
.pago-details {
    background-color: #00345a;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pago-details ul {
    list-style-type: none;
    padding: 0;
}

.pago-details li {
    color: #fff;
    margin-bottom: 10px;
}

    </style>
    <%-include('partialsExam/headerExamen')  %>
  <%-include('partialsExam/navExamen')  %>

  <h2>Detalles de Pago</h2>
  <div class="pago-details">
      <ul>
          <li>Pago por horas impartidas: $<%= pagoTotal.toFixed(2) %></li>
          <li>Pago por Bono. (+): $<%= bonoTotal.toFixed(2) %></li>
          <li>Pago Impuesto. (-) 16%: $<%= impuesto.toFixed(2) %></li>
          <li>Total a pagar: $<%= pagoTotalConBono.toFixed(2) %></li>
      </ul>
  </div>
  
    <%-include('partialsExam/footer')  %>
</body>
</html>
