<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de multiplicar</title>
</head>
<body>
    <header>
        <hr>
        <center>
            <h2>Tabla de multiplicar</h2>
        </center>
    </header>
    <hr>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
    <section>
        <form action="/tabla" method="get"> 
            <label for="numero">Tabla</label>
            <input type="number" name="numero" id="numero" value="<%= numero %>" required>
            <button type="submit">Enviar</button>
            <button type="reset">Limpiar</button>
        </form>
        
        <% if (numero != null) { %>
           
                <% for (let con = 1; con <= 10; con++) { %>
                    <table>
                    <tr>
                        <td><%= numero %> * <%= con %></td> <td>=</td>
                        <td><%= numero * con %></td>
                    </tr>
                <% } %>
            </table>
        <% } %>
    </section>
    <%-include('partials/footer.ejs')  %>
</body>
</html>
