<style>
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px; 
        line-height: 60px; 
        color: #fff; 
    }
</style>

<footer class="footer bg-dark">
    <div class="container text-center">
        <span>@Todos los derechos reservados por Axel Jovani Ruiz Guerrero</span>
    </div>
</footer>